.portfolio {
    padding: 50px 0;
    background-color: var(--background-color);
    text-align: center;
}

.highlight {
    color: var(--secondary-color);
}

.btnPrimary {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--main-color) !important;
    background: transparent !important;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--main-color) !important;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--main-color) !important;
}

.btnPrimary:hover {
    color: white !important;
    box-shadow: inset 0 -100px 0 0 var(--main-color) !important;
    border: var(--main-color) !important;
}

.btnPrimary:active {
    transform: scale(0.9);
}