.skills {
    padding: 50px 0;
    background-color: var(--background-color);
    justify-content: center;
}

.skill i {
    font-size: 100%;
    transition: 0.3s ease;

}

.skill i:hover {
    transform: translateX(-10px);
}

.skill li {
    font-size: 30px;
    font-weight: 400;
    color: var(--text);
}

.progHolder{
    margin-bottom: 20px;
    position: relative;
}
.progHolder h4{
    margin-bottom: 15px;
    font-weight: normal;
}
.progHolder .prog{
    background-color: #dedadc;
    height: 30px;
    width: 90%;

}
.progHolder .prog span{
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.progHolder .prog span::before{
content: attr(data-progress);
position: absolute;
background-color: black;
color: white;
top: -40px;
right:-18px;
padding:10px;
width: 50;
text-align: center;
border-radius: 4px;
}
.progHolder .prog span::after{
content: "";
position: absolute;
border-style: solid;
border-width: 8px;
border-color: black transparent transparent;
right: -8px;
top: -19px;
}