.header {
    padding: 20px 0;
    background-color: var(--main-color);
    color: #fff;
}

.title {
    font-size: 2rem;
    color: #fff;
}

.navLink {
    color: #fff !important;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: var(--secondary-color) !important;
}