:root{
  --main-color: #309ed3;
  --secondary-color:#f58b3f;
  --background-color: #f8f9fa;
  --text: #464343;
}

body {

  margin: 0;
  font-family: 'Times New Roman', Times, serif !important;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
/* 
code {
  font-family: 'Times New Roman', Times, serif;
} */

ul{
  list-style: none;
}
a{
  text-decoration: none;
}